#PersonalDetails {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#PersonalDetails input, #PersonalDetails textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: var(--main-dark-color);
    color: var(--main-bright-color);
    border-radius: 1rem;
}

#PersonalDetails textarea {
    height: 100px;
}