.WorkExperience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.WorkExperience input, .WorkExperience textarea, .WorkExperience button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: var(--main-dark-color);
    color: var(--main-bright-color);
    border-radius: 1rem;
}

.WorkExperience input, .WorkExperience textarea {
    width: 100%;
}

.WorkExperience textarea {
    height: 100px;
}

.WorkExperience button {
    width: 15%;
}