:root {
    --main-theme-color: rgba(0, 0, 0, .7);
    --main-contrast-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--main-theme-color);
}

html, body, #root, .App {
    height: 100%;
}

header {
    flex: 0 1 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: var(--main-contrast-color);
    color: var(--main-theme-color)
}

main {
    flex: 1 1 auto;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--main-contrast-color);
}

.fa-github {
    font-size: 30px;
    transition: transform 0.3s;
    color: var(--main-theme-color);
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}